<mat-sidenav-container class="sidenav-container">
  <!-- SIDENAV -->

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/login"
        (click)="drawer.close()"
        *ngIf="!(afAuth.authState | async)"
        >Login</a
      >
      <a
        mat-list-item
        routerLink="/login"
        (click)="drawer.close()"
        *ngIf="afAuth.authState | async"
        >Profile</a
      >
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- TOP TOOLBAR-->

    <mat-toolbar class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/kanban">Kanban</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱 Kanban</a>
        <a mat-button routerLink="/login" *ngIf="!(afAuth.authState | async)"
          >🔑 Login</a
        >
        <a mat-button routerLink="/login" *ngIf="afAuth.authState | async"
          >🔑 Profile</a
        >
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
