.content {
  overflow: hidden;
  height: auto;
  margin: 0;
  padding: 20px 20px 20px 0;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

.task-title{
  display: inline;
}

.delete-button{
  float: right;
}

.date-input {
  margin-bottom: 1rem;
}

.priority {
  color: #FFFFFFB3;
}

.blue {
  color: #71deff;
}

.green {
  color: #36e9b6;
}

.yellow {
  color: #ffcf44;
}

.purple {
  color: #b15cff;
}

.gray {
  color: #808080;
}

.red {
  color: #e74a4a;
}
