.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.outer-card {
  height: 220px;
  overflow-y: scroll;
}

.inner-card {
  width: fit-content;
  margin: 5px 0;
  margin-left: auto;
  margin-right: auto;

  .mat-card {
    background-color: #353535;
    min-width: 15rem;
    max-width: 20rem;
    width: 0%;
    min-height: 4rem;
    max-height: 5rem;
    height: 0%;
  }

  .mat-card:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .friend-name {
    padding-top: 0.5rem;
  }
}

img {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem !important;
  float: left;
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
}

:host {
  text-align: center;
}

.mat-dialog-actions{
  padding-bottom: 0;
}

// .mat-list-item{
//   // background-color: #353535;
// }

mat-list-option{
  .mat-card {
    background-color: #353535 !important;
    min-width: 15rem;
    max-width: 20rem;
    width: 0%;
    min-height: 4rem;
    max-height: 5rem;
    height: 0%;
  }
  // background-color: #353535;
  min-width: 15rem;
  max-width: 20rem;
  width: 0%;
  min-height: 4rem;
  max-height: 5rem;
  height: 0%;
}

.highlight{
  background-color: rgba(255, 255, 255, 0.1)!important;
}
