<mat-card class="outer-card">
  <mat-card-header class="card-header">
    <!-- Slot for handle -->
    <mat-card-title class="title" (click)="openBoardDialog(board.title)">
      {{ board.title }}
    </mat-card-title>
    <button class="sort-menu" mat-icon-button [matMenuTriggerFor]="sortMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="filterByDate(-1)">
        <mat-icon>arrow_downward</mat-icon>
        <span>Sort by date desc.</span>
      </button>
      <button mat-menu-item (click)="filterByDate(1)">
        <mat-icon>arrow_upward</mat-icon>
        <span>Sort by date asc.</span>
      </button>
      <button mat-menu-item (click)="filterByPriority(-1)">
        <mat-icon>arrow_downward</mat-icon>
        <span>Sort by priority desc.</span>
      </button>
      <button mat-menu-item (click)="filterByPriority(1)">
        <mat-icon>arrow_upward</mat-icon>
        <span>Sort by priority asc.</span>
      </button>
    </mat-menu>
    <ng-content></ng-content>
  </mat-card-header>

  <div
    cdkDropList
    cdkDropListOrientation="vertical"
    class="tasks"
    [id]="board.id"
    [cdkDropListData]="board.tasks"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div
      cdkDrag
      [cdkDragStartDelay]="dragDelay"
      class="inner-card"
      *ngFor="let task of board.tasks; let i = index"
    >
      <mat-card [ngClass]="task.label">
        <div class="task-description" (click)="openTaskDialog(task, i)">
          {{ task.description }}
        </div>
        <button
          class="task-menu"
          mat-icon-button
          [matMenuTriggerFor]="taskMenu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #taskMenu="matMenu">
          <button mat-menu-item (click)="openTaskDialog(task, i)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="handleTaskDone(task, i)">
            <mat-icon>check_circle</mat-icon>
            <span *ngIf="task.label === 'gray'">Check as undone</span>
            <span *ngIf="task.label !== 'gray'">Check as done</span>
          </button>
          <button mat-menu-item (click)="handleSharingWithFriend(task)">
            <mat-icon>share</mat-icon>
            <span>Share with friend</span>
          </button>
          <button mat-menu-item (click)="handleTaskDelete(task)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card>
    </div>

    <button mat-stroked-button (click)="openTaskDialog()" name="add">
      <mat-icon>add</mat-icon>
    </button>

    <app-delete-button (delete)="handleBoardDelete()"></app-delete-button>
  </div>
</mat-card>
