.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.no-bottom {
  margin-bottom: -0.5em !important;
  margin-top: -1.5em !important;
}

.card-header {
  margin: 0px 0px 0px -1rem;

  .title {
    width: 13.5rem;
    cursor: pointer;
  }

  .sort-menu {
    margin: -0.5rem 0rem 0rem -1rem;
  }

  mat-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}

.inner-card {
  margin: 5px 0;

  .mat-card {
    padding: 0px 16px 0px 0px !important;
  }

  .mat-card-transition {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .mat-card-transition:active {
    opacity: 0.8;
    transition: opacity 0.2s linear 0.3s;
  }

  .task-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 10fr 0fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor: pointer;
  }

  .task-with-date-container {
    grid-template-rows: 10fr 1fr;
  }

  .task-description {
    grid-area: 1 / 1 / 2 / 2;
    padding: 16px;
  }

  .task-date {
    background-color: green;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: -16px;
    padding-left: 1rem;
    font-size: x-small;
    opacity: 0.7;
  }

  .task-menu {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -1.05rem;
  }
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-preview {
  opacity: 0.8;
}

.cdk-drag-placeholder {
  opacity: 0.4;
}

.blue {
  background: #71deff;
  color: black;
}

.green {
  background: #36e9b6;
  color: black;
}

.yellow {
  background: hsl(45, 100%, 63%);
  color: black;
}

.purple {
  background: #b15cff;
}

.red {
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}
