<mat-card class="outer-card">
  <mat-card-header class="card-header">
    <!-- Slot for handle -->
    <mat-card-title class="title" (click)="openBoardDialog(board.title)">
      {{ board.title }}
    </mat-card-title>
    <ng-content></ng-content>
  </mat-card-header>

  <div
    cdkDropList
    cdkDropListOrientation="vertical"
    class="tasks"
    [id]="board.id"
    [cdkDropListData]="board.tasks"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div *ngIf="isMobile; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <div
        cdkDrag
        [cdkDragStartDelay]="500"
        class="inner-card"
        *ngFor="let task of board.tasks; let i = index"
        (click)="openTaskDialog(task, i)"
      >
        <mat-card [ngClass]="task.label">
          {{ task.description }}
        </mat-card>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div
        cdkDrag
        class="inner-card"
        *ngFor="let task of board.tasks; let i = index"
        (click)="openTaskDialog(task, i)"
      >
        <mat-card [ngClass]="task.label">
          {{ task.description }}
        </mat-card>
      </div>
    </ng-template>

    <button mat-stroked-button (click)="openTaskDialog()" name="add">
      <mat-icon>add</mat-icon>
    </button>

    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
</mat-card>
