.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.no-bottom {
  margin-bottom: -0.5em !important;
  margin-top: -1.5em !important;
}

.card-header{
  margin: 0px 0px 0px -1rem;

  .title {
    width: 13.5rem;
    cursor: pointer;
  }

  .sort-menu{
    margin: -0.5rem 0rem 0rem -1rem;
  }
}

.inner-card {
  margin: 5px 0;

  .mat-card {
    padding: 0px 16px 0px 0px !important;
  }

  .task-description{
    padding: 16px;
    cursor: pointer;
  }

  .task-menu{
    float: right;
    margin-top: -2.8rem;
    margin-right: -1.05rem;
    cursor: pointer;
  }
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  background: #71deff;
  color: black;
}

.green {
  background: #36e9b6;
  color: black;
}

.yellow {
  background: #ffcf44;
  color: black;
}

.purple {
  background: #b15cff;
}

.red {
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}
